<div class="activity-feed">
  <div *ngFor="let data of groupArrays; index as i" class="d-flex flex-column">
    <b *ngIf="data.date != currentDay" class="mb-2">{{data.date}}</b>
    <b *ngIf="data.date == currentDay" class="mb-2">Hôm nay</b>
    <div class="feed-item d-flex ml-4" *ngFor="let item of data.items; index as j;">
      <span class="time mr-2">{{item.time}}</span>
      <div class="d-flex flex-column align-items-center mt-1">
        <span class="dot pr-3" [style.background-color]="item.status == 0? '#2cb5e8': '#ff3c41'"></span>
        <div *ngIf="j!=data.items.length-1" class="line">
        </div>
      </div>
      <section class="ml-2">
        <input type="checkbox" [id]="''+i+j" [name]="''+i+j" />
        <label [for]="''+i+j">
          <b>{{item.title}}</b>
        </label>
        <main class="content">
          <blockquote>{{item.description}}</blockquote>
        </main>
      </section>
    </div>
  </div>
</div>