.activity-feed {
  list-style-type: none;
  padding: 0;
  margin: 50px 50px 50px 60px;
  .feed-item {
    min-height: 60px;

    .time {
      min-width: 92px;
    }
    .dot {
      height: 16px;
      width: 10px;
      background-color: #2cb5e8;
      border-radius: 50%;
      display: inline-block;
    }
    .line {
      height: calc(100% - 15px);
      width: 2px;
      background-color: #e4e8eb;
    }

    section {
      background-color: #fff;
      border-radius: 4px;
      label {
        display: block;
        cursor: pointer;
      }
    }
  }
}

input[type="checkbox"] {
  display: none;
  &:checked {
    ~ label {
      &:after {
        transform: rotate(45deg);
        color: tomato;
      }
    }
    ~ .content {
      max-height: 1000px;
      border-top: 1px solid #f0f0f0;
      padding-top: 10px;
      margin-top: 10px;
      padding: 0 25px;
      transition: max-height 0.25s ease-in;
    }
  }
}

.content {
  max-height: 0;
  overflow: hidden;
  blockquote {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: -25px;
      top: 0;
      height: 100%;
      border-left: 2px solid #fcd000;
    }
  }
}

[data-color="red"] {
  &:after {
    background-color: #ff3c41 !important;
  }
}
[data-color="blue"] {
  &:after {
    background-color: #2cb5e8 !important;
  }
}
[data-color="green"] {
  &:after {
    background-color: #47cf73 !important;
  }
}
[data-color="yellow"] {
  &:after {
    background-color: #fcd000 !important;
  }
}

// &#xf27b;
// &#xf004;
